<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Content/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>

<body>
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title" style="text-align: center">Đăng ký thành viên</h2>
                        <form method="POST" class="register-form" id="register-form" action="Signup" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" placeholder="Tên đăng nhập" id="username" name="tenDangNhap" />
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="hoTen" id="name" placeholder="họ và tên" />
                            </div>
                            <div class="form-group">
                                <label><i class="zmdi zmdi-image"></i></label>
                                <input type="file" class="form-control-file" name="hinhAnh">
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="matKhau" id="pass" placeholder="Mật khẩu" />
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" id="re_pass" placeholder="Xác nhận mật khẩu" />
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" id="signup" class="form-submit" value="Đăng ký" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/Content/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="Login" class="signup-image-link">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>